services:
  mongodb:
    image: mongo
    container_name: mongodb
    volumes:
      - mongo-data:/data/db

  user-service:
    build: ./userService
    ports:
      - "3001:3001"
    depends_on:
      - mongodb

  product-service:
    build: ./productService
    ports:
      - "3002:3002"
    depends_on:
      - mongodb

  order-service:
    build: ./orderService
    ports:
      - "3003:3003"
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - user-service
      - product-service
      - order-service

volumes:
  mongo-data:
