<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script>
      async function logout() {
        await fetch("/logout", {
          method: "POST",
          credentials: "include",
        });
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <button onclick="logout()" class="floating-btn logout-btn">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </button>
    <div class="order-container">
      <h1>LỊCH SỬ ĐẶT HÀNG</h1>
      <table class="order-table" id="order-table"></table>
    </div>
    <a href="/order" class="floating-btn"><i class="fas fa-home"></i></a>
    <div class="modal" id="orderModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2 class="tilte">CHI TIẾT ĐƠN HÀNG <span id="orderID"></span></h2>
        <table id="modal-body"></table>
      </div>
    </div>
    <script src="javascripts/history.js" type="module"></script>
  </body>
</html>
