<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script>
      async function logout() {
        await fetch("/logout", {
          method: "POST",
          credentials: "include",
        });
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <button onclick="logout()" class="floating-btn logout-btn">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </button>
    <div class="tab-container">
      <div class="tab-item active" onclick="changeTab(this, 'product-content')">
        Quản lý sản phẩm
      </div>
      <div class="tab-divider"></div>
      <div class="tab-item" onclick="changeTab(this, 'order-content')">
        Quản lý đơn hàng
      </div>
    </div>
    <div class="tab-content">
      <div class="content-panel active" id="product-content">
        <button class="addProduct-btn" onclick="openAddProductModal()">
          Thêm sản phẩm
        </button>
        <table id="productTable"></table>
      </div>
      <div class="content-panel" id="order-content">
        <table id="orderTable"></table>
      </div>
    </div>
    <!-- MODAL XÁC NHẬN XÓA ĐƠN HÀNG VÀ SẢN PHẨM -->
    <div class="modal" id="deleteModal">
      <div class="modal-content delete">
        <span class="close-btn" onclick="closeModal('deleteModal')"
          >&times;</span
        >
        <h2 class="tilte">
          Bạn chắc chắn muốn xóa <span id="IDDelete"></span>?
        </h2>
        <div class="blockButton">
          <button class="delete-btn" id="deleteBtn">Xóa</button>
          <button class="cancel-btn" onclick="closeModal('deleteModal')">
            Hủy
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL THÊM/SỬA SẢN PHẨM -->
    <div class="modal" id="addProductModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('addProductModal')"
          >&times;</span
        >
        <h2 class="tilte">Thêm sản phẩm</h2>
        <div class="modalForm">
          <input
            class="modalItem"
            type="text"
            placeholder="Tên sản phẩm"
            id="addProductName"
          />
          <input
            class="modalItem"
            type="text"
            placeholder="Link hình ảnh"
            id="addProductImage"
          />
          <input
            class="modalItem"
            type="text"
            placeholder="Đơn giá"
            id="addProductPrice"
          />
          <button class="save-btn" onclick="addProduct()">Lưu</button>
        </div>
      </div>
    </div>

    <!-- MODAL SỬA SẢN PHẨM -->
    <div class="modal" id="updateProductModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('updateProductModal')"
          >&times;</span
        >
        <h2 class="tilte">Sửa sản phẩm</h2>
        <div class="modalForm">
          <input class="modalItem" type="text" id="updateProductName" />
          <input class="modalItem" type="text" id="updateProductImage" />
          <input class="modalItem" type="text" id="updateProductPrice" />
          <div id="btn-saveUpdateProduct"></div>
        </div>
      </div>
    </div>

    <!-- MODAL SỬA ĐƠN HÀNG -->
    <div class="modal" id="updateOrderModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('updateOrderModal')"
          >&times;</span
        >
        <h2 class="tilte">Sửa đơn hàng <span id="IDOrder"></span></h2>
        <div class="modalForm">
          <select class="modalItem" name="Status" id="orderStatus">
            <option value="Đã hoàn thành">Đã hoàn thành</option>
            <option value="Chưa hoàn thành">Chưa hoàn thành</option>
          </select>
          <button class="save-btn" id="saveOrder-btn" onclick="updateOrder()">
            Lưu
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL XEM CHI TIẾT ĐƠN HÀNG -->
    <div class="modal" id="orderDetailModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('orderDetailModal')"
          >&times;</span
        >
        <h2 class="tilte">CHI TIẾT ĐƠN HÀNG <span id="orderID"></span></h2>
        <table id="modal-body"></table>
      </div>
    </div>

    <script src="javascripts/management.js" type="module"></script>
  </body>
</html>
