<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="tab-container">
      <div class="tab-item active" onclick="changeTab(this, 'product-content')">
        Quản lý sản phẩm
      </div>
      <div class="tab-divider"></div>
      <div class="tab-item" onclick="changeTab(this, 'order-content')">
        Quản lý đơn hàng
      </div>
    </div>
    <div class="tab-content">
      <div class="content-panel active" id="product-content">
        <button class="addProduct-btn" onclick="openAddProductModal()">
          Thêm sản phẩm
        </button>
        <table id="productTable">
          <!-- <th>Tên sản phẩm</th>
          <th>Hình ảnh</th>
          <th>Đơn giá</th>
          <th>Trạng thái</th>
          <tr>
            <td>Trà sữa</td>
            <td><img src="/images/bacXiuDa.png" alt="" /></td>
            <td>20000đ</td>
            <td>
              <button
                onclick="openAddProductModal({name: 'Trà sữa', image: '/images/bacXiuDa.png', price: 20000})"
              >
                Sửa
              </button>
              <button onclick="openDeleteModal('product', 'Trà sữa')">
                Xóa
              </button>
            </td>
          </tr> -->
        </table>
      </div>
      <div class="content-panel" id="order-content">
        <table id="orderTable">
          <!-- <th>Mã đơn hàng</th>
          <th>Thời gian đặt hàng</th>
          <th>SĐT đặt hàng</th>
          <th>Địa chỉ giao hàng</th>
          <th>Tổng tiền</th>
          <th>Tình trạng</th>
          <th>Trạng thái</th>
          <tr>
            <td>11389</td>
            <td>9:30 17/08/2020</td>
            <td>0123456789</td>
            <td>102 Hùng Vương, phường Tam Kỳ</td>
            <td>123000đ</td>
            <td>Chưa hoàn thành</td>
            <td>
              <button onclick="openUpdateOrderModal('11389')">Sửa</button>
              <button onclick="openDeleteModal('order', '11389')">Xóa</button>
            </td>
          </tr> -->
        </table>
      </div>
    </div>

    <!-- MODAL XÁC NHẬN XÓA ĐƠN HÀNG VÀ SẢN PHẨM -->
    <div class="modal" id="deleteModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('deleteModal')"
          >&times;</span
        >
        <h2 class="tilte">
          Bạn chắc chắn muốn xóa <span id="IDDelete"></span>?
        </h2>
        <div class="blockButton">
          <button class="delete-btn" id="deleteBtn">Xóa</button>
          <button class="cancel-btn" onclick="closeModal('deleteModal')">
            Hủy
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL THÊM/SỬA SẢN PHẨM -->
    <div class="modal" id="addProductModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('addProductModal')"
          >&times;</span
        >
        <div class="modalForm">
          <input
            class="modalItem"
            type="text"
            placeholder="Tên sản phẩm"
            id="productName"
          />
          <input
            class="modalItem"
            type="text"
            placeholder="Link hình ảnh"
            id="productImage"
          />
          <input
            class="modalItem"
            type="text"
            placeholder="Đơn giá"
            id="productPrice"
          />
          <button class="save-btn" id="saveProduct-btn">Lưu</button>
        </div>
      </div>
    </div>

    <!-- MODAL SỬA ĐƠN HÀNG -->
    <div class="modal" id="updateOrderModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('updateOrderModal')"
          >&times;</span
        >
        <h2 class="tilte">Sửa đơn hàng <span id="IDOrder"></span></h2>
        <div class="modalForm">
          <select class="modalItem" name="Status" id="orderStatus">
            <option value="Đã hoàn thành">Đã hoàn thành</option>
            <option value="Chưa hoàn thành">Chưa hoàn thành</option>
          </select>
          <button class="save-btn" id="saveOrder-btn" onclick="updateOrder()">
            Lưu
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL XEM CHI TIẾT ĐƠN HÀNG -->
    <div class="modal" id="orderDetailModal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal('orderDetailModal')">&times;</span>
        <h2 class="tilte">CHI TIẾT ĐƠN HÀNG <span id="orderID"></span></h2>
        <table id="modal-body">
          <!-- <th>Đồ uống</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <tr>
            <td>Trà sữa</td>
            <td>20000đ</td>
            <td>2</td> -->
          </tr>
        </table>
      </div>
    </div>

    <script src="javascripts/management.js"></script>
  </body>
</html>
