* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: linear-gradient(to top right, #cc64a2, #5c3075);
  min-height: 100vh;
  line-height: 20px;
  position: relative;
}

.login-box {
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.register-box {
  height: 550px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: visible;
}

.information .info-text {
  width: 600px;
  line-height: 45px;
  font-size: 30px;
  padding: 5px 10px;
  border-left: 5px solid blueviolet;
}

.btn-login .login {
  width: 600px;
  line-height: 45px;
  font-size: 30px;
  background-color: #5c3075;
  color: white;
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-login .login:hover {
  opacity: 0.7;
}

.register-text {
  font-size: 30px;
}

.register-text .link-register {
  color: red;
}

.product-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.product-container .order-box {
  flex-basis: 30%;
  background-color: rgb(146, 82, 140);
  box-shadow: 5px 0px 10px #333;
}

.product-container .product-box {
  flex-basis: 70%;
  padding: 50px 30px 0px;
}

.list-product {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  column-gap: 4%;
}

.item .img {
  background-image: linear-gradient(to top right, #d89cd1, #ffdcff);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.item .img img {
  height: 180px;
  transition: 0.5s;
}

.item .content {
  background-color: #ffffff24;
  border-radius: 30px;
  padding: 50px 30px 20px;
  transform: translate(0, -50px);
  backdrop-filter: blur(15px);
  color: #fff;
}

.item .content .product-name {
  font-size: x-large;
  margin-bottom: 10px;
  text-align: center;
}

.item .content .price {
  font-size: large;
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.item .content .add-cart {
  background-color: #b192ef;
  padding: 10px;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
}

.item .content .add-cart:hover {
  opacity: 0.7;
}

.item:hover img {
  transform: translate(0, -50px);
}

.order-box .order-info .title {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin: 30px auto;
  color: white;
}

.order-box .order-info .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.order-box .order-info input {
  background-color: #ffffffaa;
  margin: 0px 30px;
  line-height: 25px;
  padding: 3px 10px;
  font-size: 20px;
  border-style: solid;
}

.order-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.order-box .order-products .title {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  margin: 30px auto 10px;
  color: white;
}

.order-box .order-products table {
  border-collapse: collapse;
  margin: auto 30px;
}

.order-box .order-products table tr td {
  border-style: none;
  padding: 10px 0px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.order-products table tr .change_number {
  display: flex;
  gap: 15px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.change_number .btn-change_number {
  background-color: #5c3075;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 25px;
  padding: 3px;
}

.order-products .total-price {
  margin-left: auto;
  margin-right: 30px;
  font-size: 25px;
  font-weight: large;
  font-style: italic;
  color: white;
}

.order-products .btn-order {
  background-color: #5c3075;
  font-weight: bold;
  color: white;
  font-size: 25px;
  padding: 15px;
  text-align: center;
  width: 180px;
  margin: 0px auto;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #fff;
}

.change_number .btn-change_number:hover {
  opacity: 0.7;
}

.order-products .btn-order:hover {
  opacity: 0.7;
}

.floating-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ae00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: transform 0.2s, background-color 0.2s;
  z-index: 1000;
}

.floating-btn:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.logout-btn {
  border-radius: 5px;
  left: 20px;
  border: none;
  transform: rotate(0.5turn);
}

.order-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  align-items: center;
}

.order-container h1 {
  margin-top: 70px;
}

.order-container table {
  background-color: white;
  color: black;
  border-collapse: collapse;
  width: 80%;
}

.order-container table th,
td {
  border-style: solid;
  padding: 10px 0;
  font-size: 20px;
  border-width: 2px;
  text-align: center;
}

.order-container table th {
  background-color: #ffdcff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 12% auto;
  padding: 20px;
  width: 60%;
  max-height: 70vh;
  border-radius: 8px;
  position: relative;
  overflow-y: auto;
}

.modal-content.delete {
  max-width: 40%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

.openOrderDetail {
  color: blue;
  font-weight: large;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}

.modal-content table {
  width: 80%;
  margin: 10px auto;
  border-collapse: collapse;
}

.modal-content table th,
td {
  border-style: solid;
  padding: 10px;
  font-size: 20px;
  border-width: 2px;
}

.modal-content table th {
  background-color: #ffdcff;
}

.tab-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 10px 10px;
  margin-bottom: 30px;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  color: #cfcdcd;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 500;
}

.tab-item.active {
  color: white;
  font-weight: bold;
}

.tab-divider {
  width: 2px;
  height: 20px;
  background-color: white;
}

.tab-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: #d89cd1;
  border-radius: 2px;
}

.tab-item:hover {
  color: white;
  background-color: #5c3075;
  font-weight: bold;
}

.tab-content {
  background-color: white;
  margin: 0 20px;
  border-radius: 10px;
}

.content-panel {
  display: none;
  padding: 20px;
  animation: fadeIn 0.3s ease;
}

.content-panel.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-panel .addProduct-btn {
  border-color: #5c3075;
  background-color: #ae00ff;
  color: white;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 30px;
  border-radius: 5px;
  cursor: pointer;
}

.addProduct-btn:hover {
  opacity: 0.7;
}

.content-panel table {
  width: 100%;
  border-collapse: collapse;
}

.content-panel table th,
td {
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
  padding: 8px;
}

.content-panel table th {
  background-color: #ffdcff;
}

.content-panel td img {
  height: 50px;
}

.content-panel td button {
  background-color: #5c3075;
  color: white;
  font-size: 17px;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button + button {
  margin-left: 20px;
}

td button:hover {
  opacity: 0.7;
}

.modal-content .blockButton {
  display: flex;
  justify-content: center;
}

.modal-content button {
  border-style: none;
  font-size: 18px;
  width: 90px;
  padding: 5px 0;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  opacity: 0.7;
}

.delete-btn {
  background-color: rgb(186, 42, 42);
}

.cancel-btn {
  background-color: rgb(48, 181, 85);
}

.save-btn {
  background-color: rgb(186, 157, 42);
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modalForm .modalItem {
  font-size: 20px;
  width: 90%;
  padding: 5px 10px;
}

table tr td .openOrderDetailManagement {
  color: blue;
  font-weight: large;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
